{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block laPhoto %}

{% endblock %}


{% block body %}
    <div class="container ">
        <h2 class="text-center p-2">REGISTRATION</h2>
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {
                'attr': {'class': 'form-control'}
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password','attr': {'class': 'form-control'}
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary btn-block">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
