{% extends 'base.html.twig' %}

{% block title %}
    {{snowtrick.nom}}
{% endblock %}

{% block laPhoto %}
<div class="d-flex position-relative image">
    <img src="{{snowtrick.photo}}" class="h-100 w-100" alt="">
    <p class="font-italic text-dark fw-bold fs-1 m-auto">{% block accroche %}{{snowtrick.nom}}{% endblock %}</p>
        <a class="position-absolute bottom-0 end-0" href="#debut">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
            </svg>
        </a>
</div>
{% endblock %}


{% block body %}

        <article id="debut" class="pt-5">
            <div class="d-sm-none d-flex justify-content-center ">
                <button id="myBtn" class="border text-white bg-dark p-1 rounded">voir media associés</button>
            </div>
            <div class="d-sm-flex justify-content-evenly d-none d-md-block">
                <div class="w-75 h-100 p-5" style="">
                    <iframe class="w-100" style="height: 260px;" src="/media/by/{{snowtrick.id}}"></iframe>
                </div>
            </div>

            <div id="myModal" class="modal h-100">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="d-sm-flex justify-content-evenly">
                        <div class="w-75 h-100 p-5" style="">
                            <iframe class="w-100" style="height: 260px;" src="/media/by/{{snowtrick.id}}"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="centent p-5">
                <div class="">
                    {{snowtrick.description}}
                </div>
                <div class="d-flex justify-content-around">
                    <div class="metadata border text-white bg-dark p-1 rounded">Groupe : {{ snowtrick.groupeFigure }} </div>
                    <div class=" border text-white bg-dark p-1 rounded">Crée le {{snowtrick.createdAt |date("d/m/Y")}}</div>
                    <div class=" border text-white bg-dark p-1 rounded">Mis à jour le {{snowtrick.updatedAt |date("d/m/Y")}}</div>
                </div>
            </div>
        </article>

        <hr>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="w-100 h-100 p-5" style="">
                <iframe class="w-100" style="height: 225px;" src="/message/new/{{snowtrick.id}}"></iframe>
            </div>
        {% endif %}

        {% if messages|length > 0 %}
            <div class="m-5">
            <h3>Comments :</h3>
            {% for msg in messages %}
            <div class="border bg-dark text-white d-flex justify-content-between p-2 align-middle">
                <div>
                    <img class="rounded-circle align-middle"
                        width="40" height="40"
                        src="https://mdbootstrap.com/img/Photos/Avatars/img(19).jpg">
                    <p class="font-italic text-muted align-middle h6">{{msg.createdAt |date("d/m/Y")}}</p>
                </div>
                <p class=" align-middle">{{msg.message}}</p>
            </div>
            {% endfor %}
        {% endif %}

        </div>
<script>
var modal = document.getElementById("myModal");

var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

{% endblock %}
